.nav{
    background-color:black ;
    position: sticky;
    top: 0;
}
.link{
    text-decoration: none;
    font-size: 35px;
    color: antiquewhite;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 25px;
}
th,td{
    border: 1px solid ;
}